@import 'imports/reset.less';

// Functions
@import 'imports/functions.less';

// Variables
@import 'imports/vars.less';

// Fonts
@import 'imports/fonts.less';

// Buttons
@import 'imports/buttons.less';

// Popup
@import 'imports/popup.less';

// Animations
@import 'imports/keyframe-animations.less';


html {
	height: 100%;
	background-color: @white;
}

body {
	font-family: @font;
	font-size: 26px; // DPI of screen = 149
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: @white;
	color: @midblue;
	overflow: hidden;
	position: relative;
}

.screen {
	display: block;
	height: 100%;
	.transition(0.4s, ease-in-out, all);
	.transform(scale(0,0));
}

.show-screen {
	.transition(0.4s, ease-in-out, all);
	.animation(scale-up 1s);
	.transform(scale(1,1));	
}

.scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 84px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
