@import 'imports/reset.less';

// Functions
@import 'imports/functions.less';

// Variables
@import 'imports/vars.less';

// Fonts
@import 'imports/fonts.less';

// Buttons
@import 'imports/buttons.less';

// Popup
@import 'imports/popup.less';


html {
	height: 100%;
	background-color: @white;
}

body {
	font-family: @font;
	font-size: 26px; // DPI of screen = 149
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: @white;
	color: @midblue;
	overflow: hidden;
	position: relative;
}

.scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 84px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}