.popup {
	.inner {
		position: absolute;
		top: -200px;
		padding: 20px;
		background: @white;
		color: @midblue;
		.border-radius(10px);
		z-index: -1;
		.close {
			float: right;
			display: block;
		}
		.btn {
			width: 100%;
			margin-bottom: 20px;
			.box-sizing();
		}
	}
}

.show-popup {
	&:before {
		content: '';	
		position: absolute;
		top: 	0;
		right: 	0;
		bottom: 0;
		left: 	0;
		background: rgba(0,0,0,0.5);
		z-index: 0;
	}
	.inner {
		width: 400px;
		height: 400px;
		top: 45%;
		left: 50%;
		margin: -200px 0 0 -200px;
		z-index: 2;
		p {
			font-size: 18px;
		}
	}
}