.popup {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	color: @white;
	.inner {
		margin: 40px;
		padding: 20px;
		background: @white;
		color: @midblue;
		.border-radius(10px);
	}
}